*{
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0%;
}
#Header{
    display: flex;
    justify-content: space-between;
    border : 1px solid black;
    background-color: #191919;
    margin: 0;
    padding : 0;
    color : white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}
.logo{
    width : 170px;
}
.Menu-items > ul {
    display: flex;
    margin : 0%;
    padding : 18.5px;
}
.Menu-items > ul > li {
    padding : 10px;
    margin: 10px;
    font-size: 21px;
    cursor: pointer;
    transition: 1s;
}
.KitchenCard{
    width : 300px;
    padding : 10px;
    border: 3px #f4f4f2 groove;
    margin : 20px;
    background-color:  #191919;
    color : white;
    transition: 0.2s;
}
.KitchenImg{
    width : 100%;
    height : 50%;
}
.KitchenCard:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border:3px #191919 double;
    cursor: pointer;
    background-color: #f4f4f2;
    color : black;
    width : 320px;
    transform: scale(0.96);
}
.RestaurentCard{
    display: flex;
    flex-wrap: wrap;
}
.FilterButton{
    padding : 13px;
    margin : 17px;
    cursor: pointer;
    background-color: #E3F4F4;
    color :#191919;
    border: none;
}
.OrderButton{
    background-color: #cb202d;
    color : #f4f4f2;
}
.logoAndTitle{
    display: flex;
}
.logoAndTitle > h1 {
   margin-left:600px;
   font-size: 2.5rem;
   letter-spacing: 10px;
}
.cart{
  font-size: 40px;
  vertical-align: middle;
  line-height: 1;
}
.shimmer{
    width : 100%;
    height : 100%;
}
.login-btn{
    cursor: pointer;
    background-color: #f4f4f2;
    color :#191919;
    border: none;
    width : 100%;
}
.Filter {
    display: flex;
    flex-wrap: wrap;
    background-color: #cb202d;
}
.SearchBox{
    padding : 13px;
    margin : 17px;
    border: none;
    outline: none;
    background-color: #E3F4F4;
    color :#191919;
}
.NoResults{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
.TotalRestaurents > h1 {
    margin-left : 730px;
    display: inline-flex;
    flex-wrap: wrap;
    border : none;
    padding : 10px;
    transform: scale(1.5);
}
.TotalRestaurents{
    border:none;
    opacity : 1;
}
.ErrorPage{
    border: 5px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}
.Menu-items > ul > li > a {
    text-decoration: none;
    color: #f4f4f2;
}
.Menu-items > ul > li > a:hover{
    color : #191919;
    border: 2px #191919 groove;
    border-radius: 15px;
    background-color: #f4f4f2;
    padding : 10px;
}
.RestaurentNameInMenu{
    margin: auto;
    width: 50%;
    padding: 10px;
}
.RestaurentNameInMenu > h1{
    font-size: 2.5rem;
   letter-spacing: 10px;
    font-size: 2.5rem;
    text-align: center;
}
.RestaurentNameInMenu > h3 {
    color : #191919;
    letter-spacing: 5px;
    text-align: center;
    background-color: #f4f4f2;
}
.RestaurentAttributes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
}
.RestaurentAttributes > h3{
    padding : 10px;
    background-color: #191919;
    color:#f4f4f2;
    border:1px #f4f4f2 groove;
}
.RestaurentCard{
   background-color: #cb202d;
}
.RestaurentCard > a {
    display: flex;
    flex-wrap: wrap;
}
.TotalRestaurents{
    background-color: #cb202d;
}
a{
    text-decoration: none;
    /* display: flex;
    flex-wrap: wrap; */
}
.MenuItem{
    width : 17%;
    height: 80%;
    padding : 10px;
    border: 3px #f4f4f2 groove;
    margin : 20px;
    background-color:  #191919;
    color : #f4f4f2;
    transition: 0.2s;
}
.MenuItem:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border:3px #191919 double;
    cursor: pointer;
    background-color: #f4f4f2;
    color : black;
    transform: scale(0.96);
}
.MenuItem > img {
    width : 100%;
}
.MenuItem > button {
    padding : 10px;
    width: 100%;
    background-color: #f4f4f2;
    border: none;
    cursor: pointer;
}
.Menu{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 12%;
}
.MenuItem > button:hover{
    color : #f4f4f2;
    background-color: #191919;
}
.MenuSearch{
    margin-left:20%;
    margin-right:20%;
}
.MenuSearch > input {
    width: 100%;
    padding : 15px;
    border : 1px #f4f4f2 groove;
    background-color: #191919;
    color : #f4f4f2;
}